@{
    ViewData["Title"] = "Contact Us";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="text-center mb-5">
                <img src="~/logo.png" alt="Friberg Car Rentals" class="img-fluid mb-4" style="max-height: 150px;">
                <h1 class="display-4">Contact Friberg Car Rentals</h1>
                <p class="lead">We appreciate your interest in our premium vehicle collection</p>
            </div>
            
        </div>
    </div>
</div>
